$text: #ffffff;
$background: #000000;
$primary: #219fe4;
$secondary: #ff8800;
$accent: #992b00;

.createProject {
    color: $text;
    border: 2px solid $text;
    border-radius: 10px;
    padding: 2rem;
    width: min(70ch, 90vw);
    margin: 1rem;
    margin-inline: auto;
    text-align: center;

    &__header {
        margin-bottom: 1rem;
        font-size: calc(1.6rem + 1vw);
    }

    &__form {
        margin-inline: auto;

        &__input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            width: 90%;
            margin-inline: auto;
            text-align: left;
            font-size: calc(0.8rem + 0.4vw);
        }

        &__button {
            margin-top: 1rem;
            background-color: $background;
            color: $secondary;
            border: 2px solid $secondary;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $secondary;
                border-color: $text;
                color: $text;
            }

            &:active {
                background-color: $primary;
                border-color: $text;
            }
        }
    }

    &__confirmationWindow {
        z-index: 1;
        width: calc(180px + 26vw);
        aspect-ratio: 1.5/1;
        background-color: $background;
        position: absolute;
        top: 44.8%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $accent;
        border-radius: 10px;
        padding: 0.6rem;

        &__content {
            &__paragraph {
                font-size: calc(0.8rem + 1.2vw);
                margin: 22% 0;
            }

            &__buttons {
                display: flex;
                justify-content: space-around;

                &__button {
                    background-color: $background;
                    color: $secondary;
                    border: 2px solid $secondary;
                    border-radius: 10px;
                    padding: 0.2rem 1rem;
                    font-weight: bold;
                    font-size: calc(0.5rem + 0.6vw);
                    cursor: pointer;

                    &:hover {
                        background-color: $secondary;
                        border-color: $text;
                        color: $text;
                    }

                    &:active {
                        background-color: $primary;
                        border-color: $text;
                    }
                }
            }
        }
    }
}

.colorStyling {
    border-radius: 10px;
    padding: 0 0.5rem;

    &.gradient {
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $accent);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    &.orange {
        background-color: $secondary;
    }
}

.--hidden {
    display: none;
}