$text: #ffffff;
$background: #000000;
$primary: #219fe4;
$secondary: #ff8800;
$accent: #992b00;

.projectDetails {
    color: $text;
    width: min(70ch, 90vw);
    margin-inline: auto;
    margin-top: 1rem;

    &__header {
        font-size: calc(1.6rem + 1vw);
        display: flex;
        justify-content: center;
    }

    &__content {
        border: 2px solid $text;
        border-radius: 10px;
        padding: 1.2rem;
        width: 100%;
        font-size: calc(0.8rem + 0.4vw);

        &__infoLine {
            font-weight: bold;
            color: $accent;
            
            &__value {
                font-weight: normal;
                color: $text;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;

        &__button {
            background-color: $background;
            color: $secondary;
            border: 2px solid $secondary;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            font-weight: bold;
            font-size: calc(0.8rem + 0.4vw);
            cursor: pointer;

            &:hover {
                background-color: $secondary;
                border-color: $text;
                color: $text;
            }

            &:active {
                background-color: $primary;
                border-color: $text;
            }
        }
    }
}