$text: #ffffff;
$background: #000000;
$primary: #219fe4;
$secondary: #ff8800;
$accent: #992b00;

.page-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: $text;
  font-size: calc(2rem + 2vw);
}

.no-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  bottom: 20rem;
}
.no-project-alert {
  color: white;
  font-size: 2em;
  text-align: center;
}

.create-first-project-title {
  color: #219fe4;
}
